<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node App</title>
    <link rel=    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </head>

  <body>
    <h1>Rented Book Directory</h1>
    <!-- <form method="post" action="/item/add">
    <label for="name">Input</label>
    <input type="text" name="name">
    <input type="submit" value="Add">
  </form> -->
    <h4>Items:</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Description</th>
          <th>Body</th>
          <th>Likes</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(function(article) { %>
        <tr>
          <td><%= article.authorUID %></td>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= article.body %></td>
          <td><%= article.meta.likes %></td>
          <td><%= article.tags %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
